[include]
  path = ~/.local.gitconfig

[github]
  user = adamcreekroad

[init]
  defaultBranch = main

[core]
  editor = nvim

[web]
  browser = ff

[commit]
  gpgsign = true

[merge]
  conflictstyle = diff3

[alias]
  a = add
  aa = add --all

  b = branch

  c = commit
  ca = commit --amend
  can = commit --amend --no-edit

  co = checkout

  d = diff
  dc = diff --cached

  f = fetch
  fa = fetch --all

  ff = merge --ff-only

  pl = pull
  plff == pull --ff-only

  pu = push
  puf = push --force
  puu = push -u origin HEAD

  s = status -s

